In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
qpr_c = pd.read_csv('./datasets/qpr_comments.csv')

In [35]:
qpr_p = pd.read_csv('./datasets/qpr_posts.csv')

In [3]:
qpr_c

                                                      0           1
0     I’d start with all of them and see where that ...  2023-03-25
1     get yourself a decent striker as soon as possi...  2023-03-25
2                                    Sign Taraabt again  2023-03-25
3     done a few, unlike irl dykes is actually quite...  2023-03-25
4     I only caught the first half performance as my...  2023-03-12
...                                                 ...         ...
5329  Nice one, that's big of you. Hopefully the hur...  2011-10-23
5330  Kevin Gallen's Magic\nhe wears a Magic Hat\nhe...  2011-10-12
5331  Part of me wants to tell you to get out while ...  2011-10-02
5332  This is a great resource, which I've been usin...  2011-09-26
5333  Calls him a disgrace but still says he's a goo...  2011-09-26

[5334 rows x 2 columns]

In [6]:
qpr_c.columns = ['comment_body', 'post_date']

In [7]:
qpr_c

                                           comment_body   post_date
0     I’d start with all of them and see where that ...  2023-03-25
1     get yourself a decent striker as soon as possi...  2023-03-25
2                                    Sign Taraabt again  2023-03-25
3     done a few, unlike irl dykes is actually quite...  2023-03-25
4     I only caught the first half performance as my...  2023-03-12
...                                                 ...         ...
5329  Nice one, that's big of you. Hopefully the hur...  2011-10-23
5330  Kevin Gallen's Magic\nhe wears a Magic Hat\nhe...  2011-10-12
5331  Part of me wants to tell you to get out while ...  2011-10-02
5332  This is a great resource, which I've been usin...  2011-09-26
5333  Calls him a disgrace but still says he's a goo...  2011-09-26

[5334 rows x 2 columns]

In [11]:
qpr_c['length'] = qpr_c.comment_body.str.split().apply(lambda x: len(x))

In [25]:
qpr_c['subreddit'] = 'superhoops'

In [48]:
qpr_c.rename(columns = {
    'comment_body' : 'body'
}, inplace = True)

In [49]:
qpr_c

,body,post_date,length,subreddit
0,I’d start with all of them and see where that ...,2023-03-25,12,superhoops
1,get yourself a decent striker as soon as possi...,2023-03-25,9,superhoops
2,Sign Taraabt again,2023-03-25,3,superhoops
3,"done a few, unlike irl dykes is actually quite...",2023-03-25,46,superhoops
4,I only caught the first half performance as my...,2023-03-12,78,superhoops
...,...,...,...,...
5329,"Nice one, that's big of you. Hopefully the hur...",2011-10-23,45,superhoops
5330,Kevin Gallen's Magic\nhe wears a Magic Hat\nhe...,2011-10-12,42,superhoops
5331,Part of me wants to tell you to get out while ...,2011-10-02,205,superhoops
5332,"This is a great resource, which I've been usin...",2011-09-26,34,superhoops
5333,Calls him a disgrace but still says he's a goo...,2011-09-26,24,superhoops

In [26]:
qpr_c_one = qpr_c[qpr_c['length'] < 2]

In [36]:
qpr_p

,subreddit,selftext,score,length,num_comments,utc_datetime_str,id
0,superhoops,Hey guys. I’m making a Queens Park Rangers Car...,1,35,0,2023-03-25,121vebo
1,superhoops,Gareth Ainsworth: EFL financial woes not helpe...,1,12,0,2023-03-22,11yaovc
2,superhoops,Watford lose Wilder's first game as Rangers en...,1,11,0,2023-03-12,11p6t24
3,superhoops,Wesley Hoedt refuses to shake hands with Garet...,1,12,0,2023-03-11,11opn12
4,superhoops,Tyler Roberts returning to Leeds to review inj...,1,17,0,2023-03-10,11nchpj
...,...,...,...,...,...,...,...
3137,superhoops,Wonder what he has on QPR for the 23rd.\n\nFro...,1,82,0,2011-09-28,kufkn
3138,superhoops,BBC - Football Tactics: Goal-shy QPR in need o...,1,11,0,2011-09-26,ks88o
3139,superhoops,"26 Sept 2011: 'If you are hurting inside, you ...",1,37,0,2011-09-26,ks2t3
3140,superhoops,"Open All R's: A fairly new, independent weekly...",3,28,1,2011-09-26,krxxx
3141,superhoops,Warnock unhappy with refereeing decisions in g...,7,12,1,2011-09-26,krqhq

In [37]:
qpr_p.drop(columns = ['score', 'num_comments', 'id'], inplace = True)

In [38]:
qpr_p

,subreddit,selftext,length,utc_datetime_str
0,superhoops,Hey guys. I’m making a Queens Park Rangers Car...,35,2023-03-25
1,superhoops,Gareth Ainsworth: EFL financial woes not helpe...,12,2023-03-22
2,superhoops,Watford lose Wilder's first game as Rangers en...,11,2023-03-12
3,superhoops,Wesley Hoedt refuses to shake hands with Garet...,12,2023-03-11
4,superhoops,Tyler Roberts returning to Leeds to review inj...,17,2023-03-10
...,...,...,...,...
3137,superhoops,Wonder what he has on QPR for the 23rd.\n\nFro...,82,2011-09-28
3138,superhoops,BBC - Football Tactics: Goal-shy QPR in need o...,11,2011-09-26
3139,superhoops,"26 Sept 2011: 'If you are hurting inside, you ...",37,2011-09-26
3140,superhoops,"Open All R's: A fairly new, independent weekly...",28,2011-09-26
3141,superhoops,Warnock unhappy with refereeing decisions in g...,12,2011-09-26

In [45]:
qpr_p.rename(columns =
    {
    'selftext' : 'body',
    'utc_datetime_str' : 'post_date'
    }, inplace = True
)

In [46]:
qpr_p

,subreddit,body,length,post_date
0,superhoops,Hey guys. I’m making a Queens Park Rangers Car...,35,2023-03-25
1,superhoops,Gareth Ainsworth: EFL financial woes not helpe...,12,2023-03-22
2,superhoops,Watford lose Wilder's first game as Rangers en...,11,2023-03-12
3,superhoops,Wesley Hoedt refuses to shake hands with Garet...,12,2023-03-11
4,superhoops,Tyler Roberts returning to Leeds to review inj...,17,2023-03-10
...,...,...,...,...
3137,superhoops,Wonder what he has on QPR for the 23rd.\n\nFro...,82,2011-09-28
3138,superhoops,BBC - Football Tactics: Goal-shy QPR in need o...,11,2011-09-26
3139,superhoops,"26 Sept 2011: 'If you are hurting inside, you ...",37,2011-09-26
3140,superhoops,"Open All R's: A fairly new, independent weekly...",28,2011-09-26
3141,superhoops,Warnock unhappy with refereeing decisions in g...,12,2011-09-26

In [50]:
qpr = pd.concat((qpr_p, qpr_c), axis = 0)

In [54]:
qpr.sort_values('post_date', inplace = True)

In [57]:
qpr.to_csv('./datasets/qpr_combined.csv', index = False)
qpr_c_one.to_csv('./datasets/qpr_one_word.csv', index = False)